<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1 th:text="${Param.toUpperCase()}" > </h1>
    <table border="1" style="width: 500px">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Owner</th>
        </tr>
        <tr th:each="car : ${CarsModel}">
            <td th:utext="${car.id}">Id</td>
            <td th:utext="${car.name}">Name</td>
            <td th:utext="${car.owner}">Owner</td>
        </tr>
    </table>
</div>
</body>
</html>